{% extends 'base.html.twig' %}

{% block title %}DetailConsultation index{% endblock %}

{% block body %}
    <h1>DetailConsultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Frais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_consultation in detail_consultations %}
            <tr>
                <td>{{ detail_consultation.id }}</td>
                <td>{{ detail_consultation.frais }}</td>
                <td>
                    <a href="{{ path('detail_consultation_show', {'id': detail_consultation.id}) }}">show</a>
                    <a href="{{ path('detail_consultation_edit', {'id': detail_consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detail_consultation_new') }}">Create new</a>
{% endblock %}
