{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.utilisateur) }}
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.dateDebut) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.dataFin) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.refernce) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.statut) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.description) }}
    </div>

</div>
<br>
<h4>Details Consultation</h4>
<div class="row">


    <table class="table">
        {% for row in form.detailConsultations %}
        <tr>
            <th>
                {{ form_row(row.prestation) }}
            </th>
            <th>
                {{ form_row(row.frais) }}
            </th>
{#            <th>#}
{#                <a class="btn btn-warning"><i class="fas fa-edit"></i></a>#}
{#                <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>#}
{#            </th>#}
        </tr>
        {% endfor %}
    </table>

</div>

    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
