{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-div">
        <div class="row top-actions">
            <div class="col-8 top-header">
                <h4>Prestation</h4>
            </div>

        </div>

        <table class="table">
            <tbody>
            {# <tr> #}
            {# <th>Id</th> #}
            {# <td>{{ prestation.id }}</td> #}
            {# </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ prestation.libelle }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ prestation.frais }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-danger" href="{{ path('prestation_index') }}"><i class="fas fa-chevron-circle-left"></i></a>
        <div style="float: right;" class="col-2 actions text-right">
            <a class="btn btn-warning" href="{{ path('prestation_edit', {'id': prestation.id}) }}"><i
                        class="fas fa-edit"></i></a>
        </div>

        {# {{ include('prestation/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
